opencv-python==4.10.0.84
joblib==1.5.1
lightgbm==4.6.0
matplotlib==3.10.5
numpy==1.26.4
pandas==2.3.1
scipy==1.16.1
scikit-learn==1.7.1
xgboost==3.0.4
seaborn==0.13.2
statsmodels==0.14.5
catboost==1.2.8
tensorflow==2.13.1
torch==2.8.0
keras==2.13.1
pillow==11.3.0
tqdm==4.67.1
pyyaml==6.0.2
h5py==3.14.0
mediapipe==0.10.21
coremltools==8.3.0
